<div class="row">
  <div class="col">
    Name: <%= order.name %>
  </div>
  <div class="col">
    Address: <%= order.address %>
  </div>
  <div class="col">
    Shipping Mode: <%= order.shipping_mode.title %>
  </div>
</div>
<hr>
