<h1 class="mt-3">Order</h1>
<hr>

<div class="row mt-4">
  <div class="col-6">
    <h3>List of Products</h3>
  </div>
  <div class="col-3">
    Total: <%= @order.total_products_price %>
  </div>
  <div class="col-3">
    <%= link_to 'Checkout', orders_checkout_path, class: 'btn btn-secondary' %>
  </div>
</div>

<%= render 'order_items/order_item_list', { order: @order, actions: true } %>
